<template id="tmpl-personage-status">
    <link rel="stylesheet" href="../../components/personage-status/style.css">
    <div class="personage">
        <div class="personage__name">
            Player 1
        </div>
        <div class="personage__hp" style="background-image: linear-gradient(to right, #96EE26 50%, #EAEAEA 50%);
        background-size: 140%; ">
            <span class="hp hp_left">350</span>/<span class="hp hp_full">500</span>
        </div>
        <div class="personage__view pers-view">
            <div class="pers-view__part pers-view__part_head"></div>
            <div class="pers-view__part pers-view__part_chest"></div>
            <!-- <div class="pers-view__part_belt"></div> -->
            <div class="pers-view__part pers-view__part_legs"></div>
        </div>
    </div>
</template>

<script src="./index.js"></script>