<link rel="stylesheet" href="BattleActions.css">
<form action="" method="POST" class="actions__form">
<div class="actions">
    <div class="actions__block">
        <h1 class="actions__block-name">Атака</h1>
        <label>
            <input type="radio" name="attack" class="actions__checkbox attack" value="1"><img class="actions__img" src="img/helm.png" alt=""> Удар в голову</input>
        </label>
        <label>
            <input type="radio" name="attack" class="actions__checkbox attack" value="2"><img class="actions__img" src="img/armor.png" alt=""> Удар в корпус</input>
        </label>
        <label>
            <input type="radio" name="attack" class="actions__checkbox attack" value="3"><img class="actions__img" src="img/Rectangle.png" alt=""> Удар в пояс</input>
        </label>
        <label>
            <input type="radio" name="attack" class="actions__checkbox attack" value="4"><img class="actions__img" src="img/pants.png" alt=""> Удар по ногам</input>
        </label>
    </div>
    
    <div class="actions__block">
        <h1 class="actions__block-name">Защита</h1>
        <label>
            <input type="radio" name="defense" class="actions__checkbox" value="1+2"><img class="actions__img" src="img/helm.png" alt=""><img class="actions__img" src="img/armor.png" alt=""> Блок головы и корпуса</input>
        </label>
        <label>
            <input type="radio" name="defense" class="actions__checkbox" value="2+3"><img class="actions__img" src="img/armor.png" alt=""><img class="actions__img" src="img/Rectangle.png" alt=""> Блок корпуса и пояса</input>
        </label>
        <label>
            <input type="radio" name="defense" class="actions__checkbox" value="3+4"><img class="actions__img" src="img/Rectangle.png" alt=""><img class="actions__img" src="img/pants.png" alt=""> Блок пояса и ног</input>
        </label>
        <label>
            <input type="radio" name="defense" class="actions__checkbox" value="1+4"><img class="actions__img" src="img/helm.png" alt=""><img class="actions__img" src="img/pants.png" alt=""> Блок головы и ног</input>
        </label>
    </div>
</div>
<div class="button__block">
    <button class="actions__button" type="submit">Сделать ход</button>
</div>
</form>

<script src="BattleActions.js"></script>