body {
    margin: 0
}

.register__logo{
    max-width: 150px;
    max-height: 150px;
    margin-top: 30px;
}

.register{
    width: 300px;
    height: 450px; 
    border: 1px solid #C6132B;
    text-align: center;
}

.register__form{
    text-align: center
}

.register__form_login{
    width: 170px;
    height: 35px;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid #E07785;
    padding: 0 15px;
    color: grey
}

.register__form_password{
    width: 170px;
    height: 35px;
    margin-top: 5px;
    border-radius: 15px;
    border: 1px solid #E07785;
    padding: 0 15px;
    color: grey

}

.register__form_confirm{
    width: 170px;
    height: 35px;
    margin-top: 5px;
    margin-left: 4px;
    border-radius: 15px;
    border: 1px solid #E07785;
    padding: 0 15px;
    color: grey

}

.register__button{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #C6132B;
    color: white; 
    border: 1px solid #C6132B;
}