<template id="tmpl-battle-log">
    <link rel="stylesheet" href="./components/battle-log/style.css">

    <div class="battle-log__container"></div>
</template>
<!-- ----- -->
<template id="battle-msg-your">
    <div class="battle-log__msg battle-log__msg_you">
        <div class="msg__player-icon msg__right-margin"></div>
        <div class="msg__body msg__body_you">
            <div class="msg__nickname"></div>
            <div class="msg__content">
                <div class="msg__text"></div>
                <div class="msg__icon"></div>
            </div>
        </div>
    </div>
</template>
<!-- ---- -->
<template id="battle-msg-enemy">
    <div class="battle-log__msg battle-log__msg_enemy">
        <div class="msg__body msg__body_enemy msg__right-margin">
            <div class="msg__nickname msg__nickname_right"></div>
            <div class="msg__content">
                <div class="msg__text"></div>
                <div class="msg__icon"></div>
            </div>
        </div>
        <div class="msg__player-icon"></div>
    </div>
</template>

<script src="index.js"></script>
