.msg__right-margin {
    margin-right: 15px;
}

.battle-log__container {
    border: 1px gray solid;
    border-radius: 3px;
    padding: 20px;
    padding-bottom: 10px;
}

.battle-log__msg {
    display: flex;

    margin-bottom: 10px;
}

.battle-log__msg_right {
    justify-content: flex-end;
}

.msg__element {
    margin: 0 5px;
}

.msg__player-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
}

.msg__body {
    border-radius: 15px;
    padding: 10px;
    background-color: #e7e8e6;
}

.msg__body_your {
    border-top-left-radius: 0;
}

.msg__body_opponent {
    border-top-right-radius: 0;
}

.msg__nickname {
    font-weight: bold;
}

.msg__nickname_right {
    text-align: right;
}
